{% extends 'base.html.twig' %}
{% block title %}Message {{ message.sujet }}{% endblock %}
{% block body %}
    <h2>{{ message.sujet }}</h2>
    <p><strong>envoyé le {{ message.dateenvoi|date('d/m/y') }} par {{ message.nom }}.</strong></p>
    <p>{{ message.contenu }}</p>
{% endblock %}