<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ path('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ path('articles') }}">Liste des articles</a>
                <a class="nav-item nav-link" href="{{ path('bonjourNom', {nom: 'toto'}) }}">Bonjour Toto</a>
                <a class="nav-item nav-link" href="{{ path('heure') }}">Heure</a>
                <a class="nav-item nav-link" href="{{ path('exo3', {nom:'Toto', age:'33'}) }}">Toto 33 ans</a>
             {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                </li>
              {% endif %}

                <li class="nav-item">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_login') }}" class="nav-link">login</a>
                    {% else %}
                    <a class="nav-link" href="{{  path('logout') }}">logout</a>
                    {% endif %}
                </li>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
