<!DOCTYPE html>
<html>
  <head>
    <title>

    </title>
  </head>
  <body>
  <ul>
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('bonjour') }}">Bonjour</a>
    <a href="{{ path('bonjourNom', {nom: 'toto'}) }}">Bonjour Toto</a>
    <a href="{{ path('heure') }}">Heure</a>
    <a href="{{ path('exo3', {nom:'Toto', age:'33'}) }}">Toto 33 ans</a>
  </ul>
  <h1>Page d'accueil</h1>
  <p>Ceci est la page d'accueil du site</p>

  <p>Bonjour {{ nom }}</p>


  {#commentaires twig#}
  {#pour afficher une variagle#}
  {#
  {{ $mavariable }}
  #}
  {# boucle #}
  {#
  {% for article in articles %}

  {% endfor %}
  #}
  {#condition#}
    {#
  {% if myvariable == 'toto' %}

  {% endif %}
  #}

  </body>
</html>

