{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}




    {% for categorie in categories %}
        <article>
            <h1>{{ categorie.libelle }}</h1>
            <p>{{ categorie.description }}</p>
            <p>publié le {{ categorie.date_creation|date('d/m/Y') }} . <a href="{{ path('categorieID', {id: categorie.id})}}">détail</a> | <a href="{{ path('updateCategorie', {id: categorie.id})}}">modifier</a> | <a href="{{ path('deleteCategorie', {id: categorie.id})}}">supprimer</a></p>
        </article>
    {% endfor %}
{% endblock %}